[Desktop Entry]
Name=Regenerate entries for xlunch
Exec=mkdir -p $HOME/.xlunch && sh /etc/xlunch/genentries > $HOME/.xlunch/entries.dsv && notify-send -a xlunch -i /usr/share/icons/hicolor/48x48/apps/xlunch.png "Done generating new entries" || notify-send -a xlunch -i /usr/share/icons/hicolor/48x48/apps/xlunch.png "Error generating new entries"
Icon=xlunch